.hs-menu {
  padding: 1.6rem 0;
  width: 100%;
  text-align: center;
  position: relative;
}

.hs-menu__item {
  display: inline-block;
  text-transform: uppercase;
  margin: 0 2rem;
  vertical-align: middle;
}

.hs-menu__item a {
  color: var(--color-white);
  text-decoration: none;
}

.hs-menu__icon {
  width: 4rem;
  margin: 0 2rem;
}

