.ms-card--hover .ms-card__background {
  cursor: pointer;
  opacity: 0;
  transition: opacity 0.3s;
}

.ms-card--hover .ms-card__image {
  transform: scale(1.4);
  filter: drop-shadow(48rem, 1rem, 6.4rem, rgba(0, 0, 0, 0.5));
}

body#sp-01-hover::before {
  background-image: url(../../images/pic-sm-bg-01.jpg);
}

body#sp-02-hover::before {
  background-image: url(../../images/pic-sm-bg-02.jpg);
}

body#sp-03-hover::before {
  background-image: url(../../images/pic-sm-bg-03.jpg);
}

body[id^="sp-"]::before {
  opacity: 1;
}


body[id^="sp-"] .ms-card:not(.ms-card--hover) {
  filter: grayscale(100%);
}

.ms-card--hover .ms-card__title {
  bottom: 50%;
}