body {
  font: var(--text-regular);
  background-color: var(--color-primary);
}

body::before {
  content: "";
  position: absolute;
  background-image: url(../images/spider-man-background.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.2;
  width: 100%;
  height: 100%;
  transition: background-image 0.1s ease-in-out, opacity 0.1s ease-in-out;
}