.fs-control {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
}

.fs-control__button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 4rem;
  height: 4rem;
  border: 0.2rem solid var(--color-white);
  border-radius: 50%;
  background-color: var(--color-primary);
  font: var(--text-regular);
  color: var(--color-white);
  cursor: pointer;
  z-index: 1;
}

.fs-control__button {
  margin: 0 6rem;
}

.fs-control__button:hover {
  background-color: var(--color-white);
  color: var(--color-primary);
  border: 0.3rem solid var(--color-primary);
}

.fs-control__line {
  position: absolute;
  width: 50%;
  height: 0.2rem;
  background-color: var(--color-white);
}